[diff]
  tool = araxis

[difftool "araxis"]
  path = /usr/local/bin/compare

[merge]
  tool = araxis

[mergetool "araxis"]
  path = /usr/local/bin/compare

[color]
    ui = auto

[core]
    excludesfile = ~/.gitignore
    editor = vim
    filemode = false

[svn]
    rmdir = true

[user]
    name = Beverly Guillermo
    email = beverly.guillermo@gmail.com
[apply]
	whitespace = nowarn
